extends layout

block content

    h1= title
    <form action="/upload" method="post" enctype="multipart/form-data">
        label(for="photo_url") Upload a photo
        input(type="file" name="photo_url")
        div 
            button.btn Upload
    </form>