body {
  padding: 50px;
  margin: 8px;
  
}

h1 {
  font-family: fantasy;
 
}
p {
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn {
  border: none;
  font-family: fantasy;
  font-size: 18px;
  background-color: seagreen;
  padding: 4px;
  cursor: pointer;
  
 
}

.btn a {
  font-family: fantasy;
  color: black;
}

span {
  display: block;
}



.container {
  display: flex;
  gap: 0.5rem;
  width: max-content;
  background-color: darkslategrey;
}
a {
  color:brown;
  font-family:Cascadia Code;
  font-weight: 700;
  text-decoration: none;
}

th, td {
  padding: 15px;
  text-align: left;
  

}
table {
  border-collapse: collapse;

}

.form_division {
  display: flex;
  flex-direction: column;
  font-family: Cascadia Code;
  font-weight: 700;
  margin-top: 8px;
 
  
}

.form_division div {
  border: 2px solid black;
  display: flex;
}

.form_sub_container {
  flex-basis: 400px;
  min-width: 350px;
}

input, select {
  padding: 0.5rem;
  border: 2px solid black;
}

.form {
  display: flex;
  justify-content: center;
}



.cancel, .edit {
  text-decoration: none;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}